<h1>Links index!</h1>

<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link_url(link) %> : <%= link.url %></li>
  <% end %>
</ul>

<%= link_to "New Link", new_link_url %>


<!-- Seeing all links
  when logged in
    link index has a 'New Link' link to new link page (FAILED - 14)
    shows all the links for all users (FAILED - 15)
    shows the current user's username (FAILED - 16)
    links to each of the link's show page via link titles (FAILED - 17)
  when logged out
    redirects to the login page
  when signed in as another user
    shows others links -->
