
<h1>New Link!</h1>


<!-- Creating a link
  has a new link page
  takes a title and a url (FAILED - 8)
  redirects to the link show page on success (FAILED - 9)
  on failed save
    renders errors when invalid links are submitted (FAILED - 10)
    displays the new link form again (FAILED - 11)
    has a pre-filled form (with the data previously input) (FAILED - 12)
    still allows for a successful save (FAILED - 13)
 -->
