/* PHASE 1: Header */

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee

}

.header {
  color: white;
  background-color: red;
  border-bottom: 1px solid #aaa;
  /*height: 38px*/
}

.header a {
  padding: 20px;
  display: block;

}

.header-nav {
  width: 900px;
  /*background-color: yellow*/
}
