<h1>New Link</h1>

<form class="" action="<%= links_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="link[title]" value="<%= @link.title if @link %>">
  </label>

  <label>URL
    <input type="text" name="link[url]" value="<%= @link.url if @link %>">
  </label>

  <input type="submit" name="" value="Create New Link">

</form>
